#loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7); /* semi-transparent white */
  z-index: 1000; /* ensure it's on top of other elements */
  display: none; /* hide it by default */
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid rgba(0, 0, 0, 0.3); /* semi-transparent black */
  border-radius: 50%;
  border-top: 4px solid #3498db; /* blue */
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite; /* animate rotation */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#location-label {
  position: absolute;
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  overflow: hidden;
  padding: 0;
  border: 0;
  white-space: nowrap;
}

#forecast {
  width: 50%;
  display: flex;
  flex-direction: column;
}

#locationName {
  flex: 1;
}

#forecastInfo {
  flex: 1;
  display: flex;
}

.day {
  flex: 1;
  display: flex;
  flex-direction: column;
}
